<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>hello of the spring application</title>
        
    </head>
    <body>
       <h2>Spring's form textbox example</h2>

	<form:form method="POST" commandName="getURL">
		<form:errors path="*" cssClass="errorblock" element="div" />
		<table>
			<tr>
				<td>provide the e bike IP address :</td>
				<td><form:input path="ipAddress" />
				</td>
				<td><form:errors path="ipAddress" cssClass="error" />
				</td>
			</tr>
			<tr>
				<td colspan="3"><input type="submit" />
				</td>
			</tr>
		</table>
	</form:form>
    </body>
</html>
